<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SiteDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SiteDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    
  
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
            
            This is a comment that Cody added through Visual Studio!
        -->
      
      <authentication mode="Forms">
        <forms loginUrl="frmLogin.aspx" />
      </authentication>
      <authorization >
        <deny users="?" />
      </authorization>


    </system.web>

</configuration>
